@import "../globalStyle/variables";
@import "../globalStyle/mixins";

.Container {
  @include header-align($justify: space-between, $align: center);
  display: flex;
  background: $background;
  width: 99, 9vw;

}

.logo {
  @include header-align($justify: space-around, $align: center);
  font-size: 1.2rem;
  color: $primary-color;
  width: 22%;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

.logoButton {
  display: none;
  @include transparent;
  cursor: pointer;
}

@media (max-width: 768px) {

  .logoButton {
    display: block;
    color: $primary-color;
  }
}

nav {
  @include header-align($justify: center, $align: center);
  width: 40vw;
  height: 13vh;

  ul {
    @include header-row($justify: space-around, $font-size: 1em, $cursor: pointer, $width: 100%);
    color: $primary-color;
  }

  li {
    @include header-row($justify: space-around, $font-size: 1em, $cursor: pointer, $width: 100%);
    color: $primary-color;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    width: 100%;
  }
}

.link {
  @include header-row($justify: space-around, $font-size: 1em, $cursor: pointer, $width: 100%);
  color: $primary-color;

  &:hover {
    color: $third-color;
    text-decoration: underline;
  }
}

.barraDeBusca {
  border: solid $primary-color;
  width: 18%;
  justify-content: space-between;
  display: flex;
  height: 6vh;
  border-radius: 20px;
  margin-left: 0%;
  align-items: center;
  cursor: pointer;

  button {
    @include transparent;
  }
}

input {
  width: 70%;
  @include transparent;
  margin: 7px;
  color: $primary-color;

  &::placeholder {
    color: $primary-color;
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
    width: 34vw;
    height: 15vh;

    &.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 88.4px;
      color: $third-color;
      font-weight: 800;
      font-size: 1.2em;
      width: 45%;
      display: flex;
      background-color: rgba(1, 35, 67, 0.919);
      z-index: 10;

      ul {
        flex-direction: column;
        display: flex;

        li {
          width: 100%;
          margin-bottom: 10px;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }

  .barraDeBusca {
    display: none;
  }
}