@use "../../globalStyle/variables" as *;

.container{
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p{
        font-size:1.2rem;
    }
}
@media (max-width:780px){
    .container{
        width: 99.9vw;

        p{
            font-size:1.1em;
            text-align: center;
            width: 70%;
        }
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 5px $Fourth-color;
    border-radius: 10px;
    height: 70vh;
    width: 30%;
    justify-content: space-around;

    div{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color:$Fourth-color;
 
    }
    input{
        width: 90%;
        height: 5vh;
        border: solid $Fourth-color;
        border-radius:10px;
        padding-left: 20px;
        color:#ff6347;

        &::placeholder{
            color:#000;
        }
    }

}
@media (max-width:780px){

    form{
        width:90%;
        font-size:1rem;
    }
}
.button{
    width: 50%;
    height: 8vh;
    background-color: $Fourth-color;
    color:$primary-color;
    font-size: 1.2rem;
    padding: 0;
    cursor: pointer;
    &:hover{
        text-shadow: 2px 2px 4px #ff6347;
    }
}
