@mixin header-align($justify: space-between, $align: center) {

  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin header-row($justify: space-around, $font-size: 1em, $cursor: pointer, $width: 100%) {
  display: flex;
  justify-content: $justify ;
  font-size: $font-size;
  cursor: $cursor;
  width: $width;

}

@mixin transparent($background: transparent, $border: none, $outline: none) {
  background-color: $background ;
  border: $border;
  outline: $outline;
}


@mixin breakpoint($size) {
  @if $size ==small {
    @media (min-width: 320px) and (max-width: 428px) {
      @content;
    }
  }

  @else if $size ==large {
    @media (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  }
}