$primary-color:#fff;
$background:linear-gradient(90deg, #001B2F 0%, #005695 100%);
$third-color:#7fffd4;
$Fourth-color:#005695;
$friday-color:#f0f8ff;
$figure-color:#0157944D;

$breakpoints:(small:320px, large:768px);