@import "../../globalStyle/variables";

.Box {
    width: 99vw;
    height: 80vh;
    color: $Fourth-color;
    background-color: $friday-color;
    font-size: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;

}