@use "../../globalStyle/variables" as *;

.Box {
    width: 99vw;
    height: 80vh;
    color: $Fourth-color;
    background-color: $friday-color;
    font-size: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;

    &:hover {
        text-shadow: 4px 2px 3px #ff6347;

    }
}